{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'book_outlet/css/book_details.css' %}">
{% endblock %}

{% block title %}
    <title>{{selectedBook.bookName}}</title>
{% endblock %}

{% block body %}
    <section class="main-container">
        <article class="book-details">
            <h4>You selected: <span>{{selectedBook.bookName}}</span></h4>
            <p>Details:</p>
            <div class="buy-or-die">
                <table class="book-details-table">
                    <tr>
                        <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
                        <th>Author&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
                        <th>Price (INR)&nbsp;: </th>
                        <th>Rating&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </th>
                    </tr>
                    <tr>
                        <td>{{selectedBook.bookName}}</td>
                        <td>{{selectedBook.author}}</td>
                        <td>{{selectedBook.price}}</td>
                        <td>{{selectedBook.rating}}</td>
                    </tr>
                </table>
                <button class="buy-button">Buy or Die!</button>
            </div>
            <a href="{% url 'landing_page' %}" class="all-books-redirect">Back to all books</a>
        </article>
    </section>
{% endblock %}